<ion-header>
  <ion-toolbar color="primary">
    <ion-title>sesion iniciada</ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content fullscreen>
    <ion-card>
      <img src="/assets/icon/duoc_icon.png" />
      <ion-card-header>
        <ion-card-title class="card">Juan Carlos Bodoque</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ionp>ju.carlosb@duocuc.cl </ionp>
        </ion-item>
        <ion-item>
          <ionp>Clase Programacion de aplicaciones moviles</ionp>
        </ion-item>
        <ion-item>
          <ionp>PGY4121-006D/SJL4 </ionp>
        </ion-item>
        <ion-button class="margin" size="default" [routerLink]="['/#']">Registrar asistencia</ion-button>
      </ion-card-content>
    </ion-card>
  </ion-content>
